<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a (click)="onMenuSelect('inventory')" [class.selected-menu]="selectedMenu === 'inventory'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'chart-bar']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Dashboard</Span>
      </a>
    </li>
    <li>
      <a (click)="onMenuSelect('inventory/receive')" [class.selected-menu]="selectedMenu === 'inventory/receive'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'plus-square']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Receive Inventory</Span>
      </a>
    </li>
    <li>
      <a (click)="onMenuSelect('inventory/manage')" [class.selected-menu]="selectedMenu === 'inventory/manage'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'list-alt']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Manage inventory</Span>
      </a>
      <ul>
        <li>
          <a (click)="onMenuSelect('inventory/check-in')" [class.selected-menu]="selectedMenu === 'inventory/check-in'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'cart-plus']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Check in</Span>
          </a>
        </li>
        <li>
          <a (click)="onMenuSelect('inventory/check-out')" [class.selected-menu]="selectedMenu === 'inventory/check-out'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'sign-out-alt']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Check out</Span>
          </a>
        </li>
        <li>
          <a r (click)="onMenuSelect('inventory/add')" [class.selected-menu]="selectedMenu === 'inventory/add'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'plus']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Add an item</Span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <a (click)="onMenuSelect('inventory/suppliers')" [class.selected-menu]="selectedMenu === 'inventory/suppliers'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['fas', 'truck']" aria-hidden="true"></fa-icon>
        </span>
        <span>Suppliers</span>
      </a>
    </li>
    <li>
      <a (click)="onMenuSelect('inventory/stores')" [class.selected-menu]="selectedMenu === 'inventory/stores'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['fas', 'store']" aria-hidden="true"></fa-icon>
        </span>
        <span>Stores</span>
      </a>
    </li>
  </ul>
</aside>