<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a routerLink="/inventory" (click)="onMenuSelect('dashboard')" [class.selected-menu]="selectedMenu === 'dashboard'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'chart-bar']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Dashboard</Span>
      </a>
    </li>
    <li>
      <a routerLink="/inventory/receive" (click)="onMenuSelect('receive')" [class.selected-menu]="selectedMenu === 'receive'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'plus-square']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Receive Inventory</Span>
      </a>
    </li>
    <li>
      <a routerLink="/inventory/manage" (click)="onMenuSelect('manage')" [class.selected-menu]="selectedMenu === 'manage'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['far', 'list-alt']" aria-hidden="true"></fa-icon>
        </span>
        <Span>Manage inventory</Span>
      </a>
      <ul>
        <li>
          <a routerLink="/inventory/check-in" (click)="onMenuSelect('check-in')" [class.selected-menu]="selectedMenu === 'check-in'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'cart-plus']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Check in</Span>
          </a>
        </li>
        <li>
          <a routerLink="/inventory/check-out" (click)="onMenuSelect('check-out')" [class.selected-menu]="selectedMenu === 'check-out'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'sign-out-alt']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Check out</Span>
          </a>
        </li>
        <li>
          <a routerLink="/inventory/add" (click)="onMenuSelect('add-inventory')" [class.selected-menu]="selectedMenu === 'add-inventory'">
            <span class="icon">
              <fa-icon class="aside-icon" [icon]="['fas', 'plus']" aria-hidden="true"></fa-icon>
            </span>
            <Span>Add an item</Span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <a routerLink="/inventory/suppliers" (click)="onMenuSelect('suppliers')" [class.selected-menu]="selectedMenu === 'suppliers'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['fas', 'truck']" aria-hidden="true"></fa-icon>
        </span>
        <span>Suppliers</span>
      </a>
    </li>
    <li>
      <a routerLink="/inventory/stores" (click)="onMenuSelect('stores')" [class.selected-menu]="selectedMenu === 'stores'">
        <span class="icon">
          <fa-icon class="aside-icon" [icon]="['fas', 'store']" aria-hidden="true"></fa-icon>
        </span>
        <span>Stores</span>
      </a>
    </li>
  </ul>
</aside>