@import "theme-defaults.scss";

html {
  overflow: auto;

  body {
    background-color: #eff4f7;
    color: $site-text-color;
    overflow: hidden;

    .label {
      font-weight: 400;
      font-weight: 500;
    }

    .section-title {
      color: #4a473e;
      font-size: 30px;
      font-weight: bold;
    }

    .loading-indicator {
      margin-top: 12px;
      // margin-bottom: 12px;
    }

    .table-wrapper {
      width: 100%;
      overflow: auto;
      background-color: white;
      padding-top: 24px;

      table {
        width: 100%;
        min-width: 800px;
      }

      .mat-column-select {
        overflow: initial;
      }

      .actions-wrapper {
        .action {
          padding: 0px;
        }
      }
    }
  }
}
