@import "theme-defaults.scss";

html {
  overflow: auto;

  body {
    background-color: #eff4f7;
    color: $site-text-color;
    overflow: hidden;

    .label {
      font-weight: 400;
      font-weight: 500;
    }
  }
}
