$primary-color: #4a473e;
$secondary-color: #6b6b6b;
$accent-color: #3CC6AE;

$site-text-color: #4a473e;

$placeholder-color: #d8d8d8;
$help-text-color: #666666;

$error-color: #cb001d;
$main-font-family: "Segoe UI";

$primary-background-color: #eeeeee;
$app-max-width: 1366px;
$app-min-width: 320px;

$app-content-min-height: 800px;
$app-content-min-width: 768px;
$container-padding: 32px;
