<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="section-title"> Manage Inventory</h2>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a (click)="navigateTo('add')" class="button is-primary is-outlined">
        <span class="icon is-medium">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </span>
        <span>Add Item</span>
      </a>
    </div>
  </div>
</div>


<div>
  <div class="field">
    <div class="control has-icons-left">
      <input (keyup)="applyFilter($event.target.value)" class="input is-rounded" type="text" placeholder="Search item">
      <span class="icon is-small is-left">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </span>
    </div>
  </div>

  <div class="table-wrapper mat-elevation-z8">
    <table mat-table [dataSource]="booksDataSource" matSort matSortActive="name" matSortDirection="asc"
      matSortDisableClear>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let book"> {{book.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let book"> {{book.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let book"> {{book.description}} </td>
      </ng-container>

      <ng-container matColumnDef="typeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let book"> {{book.typeId}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <p>Actions</p>
        </th>
        <td mat-cell *matCellDef="let book">

          <!-- {{book.typeId}}  -->

          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button>
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Check in">
              <mat-icon>transit_enterexit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Check out">
              <mat-icon>exit_to_app</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="itemActionsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <mat-menu #itemActionsMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete_outline</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>

    <mat-progress-bar *ngIf="(isInventoryLoading$ | async)" class="loading-indicator" mode="indeterminate"></mat-progress-bar>
    <mat-paginator *ngIf="!(isInventoryLoading$ | async)" [pageSizeOptions]="[5, 10, 15,30, 50, 100]"
      showFirstLastButtons></mat-paginator>
  </div>

</div>
