.table-wrapper {
  width: 100%;
  overflow: auto;
  background-color: white;
  padding-top: 24px;

  table {
    width: 100%;
    min-width: 800px;
  }

  .mat-column-select {
    overflow: initial;
  }

  .actions-wrapper {
    .action {
      padding: 0px;
    }
  }
}

.loading-indicator {
  margin-top: 12px;
  // margin-bottom: 12px;
}
