.table-wrapper {
  width: 100%;
  overflow: auto;
  table {
    width: 100%;
    min-width: 600px;
  }

  .mat-column-select {
    overflow: initial;
  }

  .actions-wrapper {
    .action {
      padding: 0px;
    }
  }
}

.loading-indicator {
  margin-top: 12px;
}
