<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <app-top-nav (toggleSideNav)="toggleSideNav()"></app-top-nav>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav class="app-side-nav" #sideNav opened [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="56">
      <app-side-nav (selectNavItem)="navSelect()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="content-view">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
