.navbar-avatar-wrapper {
  margin: 0px;
  line-height: 52px;
  padding: 0px 5px;

  .navbar-avatar {
    border-radius: 100px;
    margin: 0 auto;
    vertical-align: middle;
    transform: scale(1);
    transition: transform 0.4s;
  }
}

.avatar-title {
  padding-left: 5px;
}

.dot {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #00d1b2;
  transform: scale(1);
  transition: transform 0.4s;
}
