<mat-toolbar class="mat-elevation-z3 top-toolbar">
  <button mat-icon-button (click)="toggleSideNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-item" routerLink="">
    <img src="../../../assets/images/lean-logo.jpg" alt="">
  </a>
  <a class="navbar-item" routerLink="">
    <h1 class="app-name">Book Catalog</h1>
  </a>

  <span class="fill-remaining-space"></span>

  <app-search></app-search>

  <a [matMenuTriggerFor]="profileMenu" class="navbar-item">
    <img class="navbar-avatar" src="https://avatars1.githubusercontent.com/u/2971971" alt="">
    <span class="profile-name">Dennis Riungu</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </a>
</mat-toolbar>

<mat-menu #profileMenu="matMenu" [overlapTrigger]=false yPosition="below" xPosition="before">
  <button mat-menu-item class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="menu-button">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
