.top-toolbar {
  background: white;
  height: 56px;
}

.is-mobile .top-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  height: 56px;
}

.mat-elevation-z3 {
  position: relative;
  z-index: 2;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

h1.app-name {
  margin-left: 16px;
}

.navbar-avatar {
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
}

.menu-button{
  min-width: 200px;
}

.profile-name{
  font-size: 18px;
}
